<div class="container my-2">
    <h1 class="h1 text-center">Write Comment</h1>
  
    <!-- Write Post form -->
    <form>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" maxlength="40" id="titleBox">
      </div>
      <div class="mb-3">
        <label class="form-label">Body</label>
        <textarea class="form-control" rows="6" id="textareaBox"></textarea >
      </div>
      <button type="submit" class="btn btn-primary" id="postBtn">Post</button>
    </form>
  </div>
  <script src="../app/post-comments.js"></script>
  